.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--background-color);
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav {
    justify-content: end;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px; /* Adjust this based on your navbar height */
    right: 0;
    background-color: var(--background-color); /* Adjust the background color */
    width: 100%;
    box-shadow: 0px 4px 2px -2px gray; /* Optional shadow for depth */
    z-index: 1000;
  }

  .nav-links.open {
    display: flex;
  }

  .a-btn {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Optional: line between links */
  }
}
