<nav class="nav">
  <!-- Hamburger menu button -->
  <button class="hamburger" (click)="toggleMenu()">
    &#9776; <!-- This is the hamburger icon -->
  </button>

  <!-- Navigation links -->
  <div [ngClass]="{ 'nav-links': true, 'open': isMenuOpen }">
    <a href="#" (click)="scrollToSection('home')" [ngClass]="{ 'active': activeSection === 'home' }" class="a-btn">
      Home
    </a>
    <a href="#" (click)="scrollToSection('about')" [ngClass]="{ 'active': activeSection === 'about' }" class="a-btn">
      About me
    </a>
    <a href="#" (click)="scrollToSection('portfolio')" [ngClass]="{ 'active': activeSection === 'portfolio' }"
      class="a-btn">
      Portfolio
    </a>
    <a href="#" (click)="scrollToSection('contact')" [ngClass]="{ 'active': activeSection === 'contact' }"
      class="a-btn">
      Contact
    </a>
  </div>
</nav>
