.p-title {
  text-decoration: underline;
  color: var(--accent-color);
  text-align: center;
  font-size: 30px;
}

.p-tiles {
  padding: 10px;
  box-shadow: -15px -15px 15px var(--upper-shadow),
    /* Main shadow */ 15px 15px 15px var(--bottom-shadow);
  background: var(--secondary-color);
  border-radius: 10px;
  margin-block: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
