<div class="contact">
  <form class="form" action="https://formspree.io/f/xqkjwbjo" method="POST">
    <div class="input-group">
      <span></span>
      <h1 class="c-title">Contact me:</h1>
    </div>
    <div class="input-group">
      <span>Your name</span>
      <input type="text" name="name" placeholder="Type your fullname here." />
    </div>

    <div class="input-group">
      <span>Your email</span>
      <input type="email" name="email" placeholder="Email" />
    </div>

    <div class="input-group">
      <span>Subject</span>
      <input type="text" name="subject" placeholder="Email about" />
    </div>

    <div class="input-group">
      <span>Message</span>
      <textarea name="message" placeholder="Email about"></textarea>
    </div>

    <div class="input-group">
      <span></span>
      <button type="submit" class="a-btn active">Send Message</button>
    </div>
  </form>
  <div class="ill">
    <div class="img-holder">
      <img src="../../assets/image-removebg-preview.png" alt="call" />
    </div>
  </div>
</div>
