<div class="about-container">
  <div class="me">
    <div class="i-c">
      <img class="me-img" src="../../assets/20231120_082926.jpg" />
    </div>
  </div>
  <div class="abt-content">
    <h1 class="a-title">About me</h1>
    <p class="a-name">Shaggy Sambo</p>
    <p class="a-job">Full-stack developer</p>

    <div class="divider"></div>

    <p class="info">Residence: <span>South Africa</span></p>
    <p class="info">City: <span>Johannesburg</span></p>

    <p>I craft seamless, robust, and user-friendly full-stack applications from front-end design to back-end
      development. Whether you're looking for a dynamic web experience or a scalable solution, I bring your ideas to
      life with clean code and innovative solutions.
    </p>

    <div class="s-title">Skills:</div>
    <div class="skills">
      <button class="a-btn active"><img width="20px" height="20px" src="../../assets/code.svg" />ASP.NET Core</button>
      <button class="a-btn active"><img width="20px" height="20px" src="../../assets/sql.svg" /> MySQL</button>
      <button class="a-btn active"><img width="20px" height="20px" src="../../assets/sql.svg" />MongoDB</button>
      <button class="a-btn active"><img width="20px" height="20px" src="../../assets/sql.svg" />PostgreSQL</button>
      <button class="a-btn active"><img width="20px" height="20px" src="../../assets/angular.svg" />Angular 2+</button>
      <button class="a-btn active"><img width="20px" height="20px" src="../../assets/react.svg" />Reactjs</button>
      <button class="a-btn active"><img width="20px" height="20px" src="../../assets/code.svg" />JQuery</button>
      <button class="a-btn active"><img width="20px" height="20px" src="../../assets/bootstrap.svg" />Bootstrap</button>
      <button class="a-btn active"><img width="20px" height="20px" src="../../assets/code.svg" />MVC</button>
    </div>

    <div class="divider"></div>

    <div class="download">
      <a href="../../assets/My Resume.pdf" download="My Resume.pdf" class="a-btn active" aria-label="Download CV">
        Download CV
        <img src="../../assets/download.svg" alt="Download Icon" />
      </a>
    </div>

  </div>
</div>
