.about-container {
  display: flex;
  padding-block: 60px;
  gap: 20px;
  flex-direction: column-reverse;

  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 30px;
    flex-direction: row;
    padding-block: 100px;
  }

  .me {
    width: auto;
    display: none;

    @media screen and (min-width: 1024px) {
      width: 40%;
      display: block;
    }

    .i-c {
      border-radius: 10px;
      box-shadow: -15px -15px 15px var(--upper-shadow),
        /* Main shadow */ 15px 15px 15px var(--bottom-shadow); /* Soft subtle shadow */
      padding: 10px;
      width: 100%;

      .me-img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;

        @media screen and (min-width: 1024px) {
          height: 605px;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
  }

  .abt-content {
    flex-direction: column;
    display: flex;
    gap: 10px;
    width: auto;

    @media screen and (min-width: 1024px) {
      width: 60%;
      flex-direction: column;
      display: flex;
      gap: 10px;
    }

    .a-title {
      font-weight: 800;
      font-size: 50px;
    }

    .a-name {
      font-weight: 800;
    }

    .a-job {
      color: var(--accent-color);
    }

    .divider {
      height: 1px;
      width: 250px;
      background: var(--text-color);
    }

    .info {
      font-weight: 800;

      span {
        font-weight: normal;
      }
    }

    .s-title {
      color: var(--accent-color);
      text-decoration: underline;
      padding-block-start: 7px;
    }

    .skills {
      padding-block: 15px;
      display: flex;
      gap: 15px;
      flex-wrap: wrap;

      .a-btn {
        color: var(--accent-color);
        display: flex;
        align-items: center;
      }
    }

    .download {
      padding-block-start: 10px;
    }
  }
}
