<div class="min-h-screen bg-base-100 mr-6">
    <h1 class="text-5xl font-bold flex justify-center mb-6">Resume</h1>
    <div class="flex flex-col w-full lg:flex-row">
        <div class="grid flex-grow card compact bg-base-300 rounded-box place-items-center">
            <div class="card-body">
                <h1 class="text-5xl font-bold">Summary</h1>
                <h1 class="text-2xl font-bold">Shaggy Belco Sambo</h1>

                <div class="flex lg:flex-row sm:flex-row-1 space-x-8 justify-center text-left">
                    <p>
                        Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and
                        developing
                        user-centered digital/print marketing material from initial concept to final, polished
                        deliverable.
                    </p>

                </div>
                <ul>
                    <li><span class="font-bold">Residence:</span> Tembisa, Johannesburg</li>
                    <li><span class="font-bold">Phone:</span> 072 760 7323</li>
                    <li><span class="font-bold">Email:</span> shaggybelco1@gmail.com</li>
                </ul>
            </div>






            <div class="card-body">
                <h1 class="text-5xl font-bold">Education</h1>
                <h1>Shaggy Belco Sambo</h1>

                <div class="flex lg:flex-row sm:flex-row-1 space-x-8 justify-center text-left">

                    <ul>
                        <li><span class="font-bold">Birthday:</span> 29 January 2000</li>
                        <li><span class="font-bold">Phone:</span> 072 760 7323</li>
                        <li><span class="font-bold">Email:</span> shaggybelco1@gmail.com</li>
                    </ul>
                    <ul>
                        <li><span class="font-bold">Age:</span> 22</li>
                        <li><span class="font-bold">Degree:</span> National Diploma</li>
                        <li><span class="font-bold">City:</span> Johannesburg, South Africa</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="divider lg:divider-horizontal"></div>
        <div class="grid flex-grow card compact bg-base-300 rounded-box place-items-center">
            <div class="card-body">
                <h1 class="text-5xl font-bold">Summary</h1>
                <h1>Shaggy Belco Sambo</h1>

                <div class="flex lg:flex-row sm:flex-row-1 space-x-8 justify-center text-left">

                    <ul>
                        <li><span class="font-bold">Birthday:</span> 29 January 2000</li>
                        <li><span class="font-bold">Phone:</span> 072 760 7323</li>
                        <li><span class="font-bold">Email:</span> shaggybelco1@gmail.com</li>
                    </ul>
                    <ul>
                        <li><span class="font-bold">Age:</span> 22</li>
                        <li><span class="font-bold">Degree:</span> National Diploma</li>
                        <li><span class="font-bold">City:</span> Johannesburg, South Africa</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>