<div class="min-h-screen bg-base-100 mr-6">
    <h1 class="text-5xl font-bold flex justify-center mb-6">Resume</h1>
    <div class="flex flex-col w-full lg:flex-row">
        <div class="grid flex-grow card compact bg-base-300 rounded-box ">
            <div class="card-body">
                <h1 class="text-5xl font-bold">Summary</h1>
                <h1 class="text-2xl font-bold">Shaggy Belco Sambo</h1>

                <div class="flex justify-center text-left">
                    <p class="flex flex-wrap">
                        Innovative and deadline-driven FullStack developer with 1.5 years of experience designing and
                        developing application using Angular and JavaScript.
                    </p>

                </div>
                <ul>
                    <li><span class="font-bold">Residence:</span> Tembisa, Johannesburg</li>
                    <li><span class="font-bold">Phone:</span> 072 760 7323</li>
                    <li><span class="font-bold">Email:</span> shaggybelco1@gmail.com</li>
                </ul>
            </div>






            <div class="card-body">
                <h1 class="text-5xl font-bold">Education</h1>
                <h1 class="text-2xl">National Diploma in Information Technology(Software Development)</h1>
                <div class="exp">15 January 2018 - 31 August 2022</div>
                <i>Tshwane University Of Technology</i>

                <h1 class="text-2xl">NSC Diploma</h1>
                <div class="exp">15 January 2014 - 06 December 2017</div>
                <i>Mandondo High School</i>
            </div>

            <div class="card-body">
                <h1 class="text-5xl font-bold">Professional Experience</h1>
                <h1 class="text-2xl font-bold">The Digital Academy</h1>
                <div class="exp">01 June 2022 - 31 May 2023</div>
                <div class="res">7 Quince Street, The Medial Mill, Auckland Park, Johannesburg, 2092</div>

                <div class="flex text-left">

                   <ul class="tasks">
                       <li>Development of applications using Angular 2+</li>
                       <li>Backend using Nodejs Express</li>
                       <li>Figma User-Experience Design</li>
                       <li>PostgreSQL</li>
                       <li>Project management(Trello Board)</li>
                       <li>DevOps</li>
                       <li>Docker</li>
                       <li>Unit testing</li>
                       <li>Integrated testing</li>
                   </ul>

                </div>



                <h1 class="text-2xl font-bold">Ekhonnector</h1>
                <div class="exp">14 January 2022 - 30 June 2022</div>
                <div class="res">7 Quince Street, The Medial Mill, Auckland Park, Johannesburg, 2092</div>

                <div class="flex text-left">

                   <ul class="tasks">
                       <li>Development of applications using C#(DotNet Framework)</li>
                       <li>Using MySql</li>
                       <li>Meeting with clients</li>
                       <li>Project management(Trello Board)</li>
                   </ul>

                </div>
            </div>
        </div>


    </div>