<div class="home-container">
  <div class="message">
    <h1 class="text">
      Unlock Your Project's Potential!
    </h1>
    <span class="desc">
      <span class="o-e">code</span>
      I build powerful, full-stack applications that bring ideas to life.
      <span class="c-e">code</span>
    </span>

    <div class="actions">
      <button (click)="scrollToSection('portfolio')" class="a-btn active">Explore now</button>
    </div>
  </div>
  <div class="image">
    <div class="img-holder">
      <img src="../../assets/20240218_163735-removebg-preview.png" />
    </div>
  </div>
</div>
